/* TITOLO LINK */
h4 {
    text-transform: uppercase;
    color: #FFFFFF;
}

/* LISTE */
ul {
    list-style: none;
    padding: 0px;
}

/* LINK */
li {
    
    a {
    text-decoration: none;
    color: #797979;
    }
    
}